{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<h1 class="text-lg font-bold my-3">
		- All Categories</h1>

	<div class="w-full flex flex-wrap bg-slate-100">
		{% for category in categories %}
			<div class="flex justify-center items-center  md:w-1/4  mx-3">
				<div class="max-w-sm rounded overflow-hidden shadow-lg bg-slate-300">
					{%if category.image %}
						<img src="{{ asset('uploads/' ~ category.image) }}" class="max-w-56"/>
					{% else %}
						<img src="https://placehold.co/400"/>
					{% endif %}
					<div class="px-6 py-4">
						<div class="font-bold text-xl mb-2">{{category.name}}</div>
					</div>
					<div class="px-6 py-4">
						<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="/products/view/{{category.id }}">
							View All
							{{category.name}}

						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
